namespace pruebaAlmacen.wwwroot.css
{

}

/* Estilos del contenedor */
.container {
    width: 80%; /* Ajusta el ancho del contenedor según tus necesidades */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilos del carrusel */
.slider {
    width: 100%;
    height: 400px; /* Modifica esta altura según tus necesidades */
    overflow: hidden;
}

    .slider ul {
        display: flex;
        animation: cambio 20s infinite alternate;
        width: 400%; /* Cambiado a 400% para acomodar todas las imágenes en una fila */
        padding: 0;
        margin: 0;
    }

    .slider li {
        width: 25%; /* Cambiado a 25% para acomodar cada imagen en una cuarta parte del ancho del carrusel */
        list-style: none;
    }

    .slider img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Esto asegura que las imágenes se ajusten dentro de los contenedores sin deformarlas */
    }

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    30% {
        margin-left: -100%;
    }

    55% {
        margin-left: -100%;
    }

    60% {
        margin-left: -200%;
    }

    85% {
        margin-left: -200%;
    }

    90% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}
