@page
@model pruebaAlmacen.Pages.CreateModel
@{
}
<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Nuevo producto</h2>
        @if (Model.errorMessage.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>
        }
        else if (Model.successMessage.Length > 0)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>
        }
        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Nombre</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductDto.Name">
                    <span asp-validation-for="ProductDto.Name" class="text-danger"></span>

                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Marca</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductDto.Brand">
                    <span asp-validation-for="ProductDto.Brand" class="text-danger"></span>

                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Categoría</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="ProductDto.Category">
                        <option value="Other">Otro</option>
                        <option value="Muebles">Muebles</option>
                        <option value="Televisores">Televisores</option>
                        <option value="Neveras">Neveras</option>
                        <option value="Computadores">Computadores</option>
                        <option value="Accesorios">Accesorios</option>
                        <option value="Camaras">Camaras</option>
                        <option value="Tablets">Tablets</option>
                        <option value="Accesorios">Accesorios</option>
                    </select>
                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Precio</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductDto.Price">
                    <span asp-validation-for="ProductDto.Price" class="text-danger"></span>

                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Descripción</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductDto.Description">

                    <span asp-validation-for="ProductDto.Price" class="text-danger"></span>

                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Actualizar imagen</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ProductDto.ImageFile">
                    <span asp-validation-for="ProductDto.ImageFile" class="text-danger"></span>

                </div>
            </div>





            <div class="row mb-3">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-outline-primary" href="/Admin" role="button">Cancelar</a>
                </div>
            </div>

        </form>
    </div>

</div>