@page
@model pruebaAlmacen.Pages.EditUsuariosModel
@{
}
<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Editar usuario</h2>
        @if (Model.errorMessage.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>
        }
        else if (Model.successMessage.Length > 0)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

            </div>
        }
        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Cedula</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ApplicationUserDto.Cedula">
                    <span asp-validation-for="ApplicationUserDto.Cedula" class="text-danger"></span>

                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Nombre</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ApplicationUserDto.FirstName">
                    <span asp-validation-for="ApplicationUserDto.FirstName" class="text-danger"></span>

                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Apellido</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ApplicationUserDto.LastName">
                    <span asp-validation-for="ApplicationUserDto.LastName" class="text-danger"></span>

                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Rol</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="ApplicationUserDto.RoleId">
                        <option value="admin">Administrador</option>
                        <option value="seller">Vendedor</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Número de teléfono</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ApplicationUserDto.PhoneNumber">
                    <span asp-validation-for="ApplicationUserDto.PhoneNumber" class="text-danger"></span>

                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ApplicationUserDto.Email">

                    <span asp-validation-for="ApplicationUserDto.Email" class="text-danger"></span>

                </div>
            </div>


            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Direccion</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ApplicationUserDto.Address">
                    <span asp-validation-for="ApplicationUserDto.Address" class="text-danger"></span>


                </div>
            </div>


            <div class="row mb-3">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
                <div class="col-sm-6">
                    <a class="btn btn-outline-primary" href="/Usuarios" role="button">Cancelar</a>
                </div>
            </div>

        </form>
    </div>

</div>