@page
@model PrivacyModel
@{
    ViewData["Title"] = "¡Somos tu mejor opción!";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
            font-size: 28px;
            text-align: center;
            margin-top: 50px;
        }

        p {
            color: #666;
            font-size: 18px;
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
        }

        .emoji {
            font-size: 24px;
            margin-right: 5px;
        }
    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p><span class="emoji">💫🏡</span> ¡Bienvenidos a Bendición de Dios Hogar! Encuentra todo lo que necesitas para hacer de tu hogar un espacio único y acogedor. Desde muebles elegantes hasta electrodomésticos, te ofrecemos calidad y durabilidad.</p>
</body>
</html>